.formcontroll{
    border-radius: 1.25rem !important;
}

.formcontrolr{
    border-radius: 1.25rem !important;
}

/* .carousel-indicators li{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: white;
    
}

.carousel-indicators .active{
    background-color: black !important;
} */